/* =========================
   HEADER
========================= */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 30px 40px;

    background-color: #111;
    color: white;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;

    z-index: 1000;


   &__logo {
     font-size: 1.5rem;
     font-weight: bold;
   }
    


    &__nav {
     display: flex;
     align-items: center;
    }
     
    &__list {
     display: flex;
     list-style: none;
     gap: 20px;
    }

    &__item {
     display: flex;
    }

    &__link {
     text-decoration: none;
     color: white;
     transition: color 0.3s ease;
    }

     &__link:hover {
     color: #ff6347;
     }
}    
