/*CORES*/
$cor-primaria: #ff6347;
$cor-secundaria: #111;
$cor-clara: white;
$cor-fundo: #f5f5ff;


/*FONTES*/
$fonte-principal: 'Arial', sans-serif;


/*ESPACAMENTOS*/

$espacamento-padrao: 20px;
$espacamento-grande: 40px;